Source: tmux
Section: util
Priority: optional
Maintainer: Jamie Curnow <jc@jc21.com>
Build-Depends: debhelper (>= 8.0.0), libncurses5-dev, libevent-dev, libutempter-dev, cmake, pkg-config
Standards-Version: 4.3.0.1
Homepage: https://github.com/tmux/tmux
Vcs-Git: https://github.com/tmux/tmux.git
Vcs-Browser: https://github.com/tmux/tmux

Package: tmux
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: tmux is a "terminal multiplexer."  It enables a number of terminals (or
  windows) to be accessed and controlled from a single terminal.  tmux is
  intended to be a simple, modern, BSD-licensed alternative to programs such
  as GNU Screen.
